*{
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* style the navigation bar */
.navbar{
    display:flex;
    justify-content: space-around;
    width: 100%;
    background-color:black;
    color: white;
    height: 80px;
    align-items: center;
}
 /* #logo{
     margin-left: 60px; 
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}  */
.nav{
    flex:50%;
    margin: 60px;
}
ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}
.active {
    background-color:orange;
  }

#btn{
   /* margin-left: 200px; */
   /* margin-right: 60px; */
}


/* //style the main page */
.main{
    background-image: url("../images/image6.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
}

.container{
    flex:50%;
}
#data{
    background-color:black;
    opacity: 0.8;
    color:white;
    width: 50%;
    justify-content: space-evenly;
    
}
table, td, th {
    border: 1px solid whitesmoke;
    color: white;
    font-weight: bolder;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    opacity: 0.8;
    color: white;
    background-color: black;
    font-weight: bolder;
    height: fit-content;
  }
  td {
    vertical-align: bottom;
  }
  .footer{
    color:white;
    background-color:black;
    display: flex;
  }
  .footer div{
    flex:50%;
  }